default_location: westeurope

terraform_backend:
  type: local
  path: application_insights_complete.tfstate

azure_resource_groups:
  example:
    resource_group_name: rg-appi-complete
    location: westeurope
    tags:
      environment: dev
      scenario: appi-complete

azure_log_analytics_workspaces:
  example:
    resource_group_name: ref:azure_resource_groups.example.resource_group_name
    workspace_name: law-appi-complete
    location: ref:azure_resource_groups.example.location
    retention_in_days: 90
    features_disable_local_auth: true
    tags: ref:azure_resource_groups.example.tags

azure_application_insights:
  complete:
    subscription_id: "00000000-0000-0000-0000-000000000000"
    resource_group_name: ref:azure_resource_groups.example.resource_group_name
    application_insights_name: appi-example-complete
    location: ref:azure_resource_groups.example.location
    kind: web
    application_type: web
    workspace_resource_id: ref:azure_log_analytics_workspaces.example.id
    retention_in_days: 90
    sampling_percentage: 100
    disable_ip_masking: false
    public_network_access_for_ingestion: Enabled
    public_network_access_for_query: Enabled
    ingestion_mode: LogAnalytics
    disable_local_auth: true
    force_customer_storage_for_profiler: false
    tags: ref:azure_resource_groups.example.tags
