default_location: westeurope

terraform_backend:
  type: local
  path: action_group_minimum.tfstate

azure_resource_groups:
  example:
    resource_group_name: rg-observability
    location: westeurope

azure_action_groups:
  minimum:
    subscription_id: "00000000-0000-0000-0000-000000000000"
    resource_group_name: ref:azure_resource_groups.example.resource_group_name
    action_group_name: ag-ops
    short_name: ops
